body, form input {
	background-color: black;
	color: #ccc;
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
}

div#infobar {
	background-color: #ccc;
	color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 1;
}
div.infocomponent {
	float: left;
	width: 20%;
}
div#titledisplay {
	width: 60%;
}
div#messagelog {
	position: fixed;
	bottom: 24px;
	left: 0;
	width: 100%;
}
ul {
	margin-left: 6px;
}
div#commandbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 24px;
}
form input {
	width: 100%;
	padding-left: 22px;
	border-style: none;
}
input[type=text]:focus {
  outline: 0 none;
}
div#icon {
	position: fixed;
	left: 5px;
	bottom: 5px;
}